@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 style="color: greenyellow;">Thank you for your Order</h1>

    <a style="border-radius: 45px; padding: 5px; color: black;" asp-action="Index" asp-controller="Home">Go Back</a>
</div>
